2captcha-python
aider-install
aiohappyeyeballs
aiohttp
aiosignal
annotated-types
anyio
asgiref
asyncio
attrs
certifi
cffi
charset-normalizer
click
cryptography
decorator
Deprecated
distro
docstring_parser
fastapi
frozenlist
googleapis-common-protos
greenlet
h11
httpcore
httpx
httpx-sse
idna
importlib_metadata
instructor
Jinja2
jiter
joblib
markdown-it-py
MarkupSafe
mcp
mcp-agent
mdurl
multidict
numpy
openai
opentelemetry-api
opentelemetry-distro
opentelemetry-exporter-otlp-proto-common
opentelemetry-exporter-otlp-proto-http
opentelemetry-instrumentation
opentelemetry-proto
opentelemetry-sdk
opentelemetry-semantic-conventions
packaging
pdfminer.six
pdfplumber
pillow
playwright
prompt_toolkit
propcache
protobuf
pycparser
pydantic
pydantic-settings
pydantic_core
pyee
Pygments
PyPDF2
pypdfium2
python-dotenv
python-multipart
PyYAML
requests
rich
scikit-learn
scipy
shellingham
six
sniffio
SQLAlchemy
sse-starlette
starlette
tenacity
threadpoolctl
tqdm
typer
typing-inspection
typing_extensions
urllib3
uv
uvicorn
validators
wcwidth
websockets
wrapt
yarl
zipp

